
body {
	background-color: #1D242C;
	}
	
	/* change the background color */
.navbar-custom {
    background-color: #1D242C;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: white;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
	font-size: 20px;
    color: white;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #49B6B8;
}

h1, h4 {
	color: #49B6B8;
}

h3 {
	color: #ECE7EB;
}

td {
	color: #ECE7EB;
}

label {
	color: #ECE7EB;
}

th {
	color: #ECE7EB;
}

loggan {
	font-size: 50px;
}

.tavlingskort {
	font-weight: bold;
	color: #ECE7EB;
}



