<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8" />
<title>Page Title</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous" />

<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</head>
<th:block th:include="navbar"></th:block>
<body>

	<div class="container">

		<div class="row mb-3">
			<div class="col-xl-3 col-sm-6">
				<div class="card bg-success text-white h-100">
					<div class="card-body bg-success">
						<a th:href="@{/admin/users}">
							<div class="rotate">
								<i class="fa fa-user fa-3x"></i>
							</div>
							<h6 class="text-uppercase">Users</h6>
							<h1 class="display-4">134</h1>
						</a>
					</div>

				</div>
			</div>
			<div class="col-xl-3 col-sm-6">
				<div class="card text-white bg-danger h-100">
					<div class="card-body bg-danger">
						<div class="rotate">
							<i class="fa fa-list fa-3x"></i>
						</div>
						<h6 class="text-uppercase">Posts</h6>
						<h1 class="display-4">87</h1>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-sm-6">
				<div class="card text-white bg-info h-100">
					<div class="card-body bg-info">
						<div class="rotate">
							<i class="fa fa-twitter fa-3x"></i>
						</div>
						<h6 class="text-uppercase">Tweets</h6>
						<h1 class="display-4">125</h1>
					</div>
				</div>
			</div>
			<div class="col-xl-3 col-sm-6">
				<div class="card text-white bg-warning h-100">
					<div class="card-body bg-warning">
						<div class="rotate">
							<i class="fa fa-share fa-3x"></i>
						</div>
						<h6 class="text-uppercase">Shares</h6>
						<h1 class="display-4">36</h1>
					</div>
				</div>
			</div>
		</div>

		<!-- <p th:text="${#lists.size(u.engines)}">[Engine Size]</p> -->

	</div>
	
	<th:block th:include="footer"></th:block>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>
</html>