<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8" />
<title>Page Title</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script type="text/javascript" src="/static/app/app.module.js" th:src="@{/app/app.module.js}"></script>
    <script type="text/javascript" src="/static/app/bookings.controller.js" th:src="@{/app/fighters.controller.js}"></script>
</head>

<body>

<th:block th:include="navbar"></th:block>
<div class="container">
<h1>View all posts</h1>

		<!-- <div th:each="info : ${info}">
				<p th:text="*{info.title}"></p>
				<p th:text="*{info.body}"></p>
				<p th:text="*{info.date}"></p>
			</div> -->
			
			
			
<div class="row">
  <div class="col-sm-6" th:each="info : ${info}">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title" th:text="*{info.title}"></h5>
        <p class="card-text" th:text="*{info.body}"></p>
        <span th:text="*{info.date}"></span>
        <a href="#" class="btn btn-primary" th:href="@{/posts/} + ${info.postid}">View</a>
        
        <div sec:authorize="hasRole('ROLE_USER')">
        	<a th:if="${#authentication.name } == ${info.author.username}"
        	 href="#" class="btn btn-primary" th:href="@{/posts/edit/} + ${info.postid}">Edit</a>
        </div>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
        	<a href="#" class="btn btn-primary" th:href="@{/posts/edit/} + ${info.postid}">Edit</a>
        </div>
        
        <div  sec:authorize="hasRole('ROLE_USER')">
        <form action="#" th:action="@{/posts/delete/} + ${info.postid}" th:method="delete">
			<input type="hidden" name="_method" value="delete" />
			<button th:if="${#authentication.name } == ${info.author.username}" class="btn btn-primary" type="submit" id="submitButton">Delete</button>
		</form>
		</div>
		
		<div sec:authorize="hasRole('ROLE_ADMIN')">
        	<form action="#" th:action="@{/posts/delete/} + ${info.postid}" th:method="delete">
			<input type="hidden" name="_method" value="delete" />
			<button class="btn btn-primary" type="submit" id="submitButton">Delete</button>
		</form>
        </div>

      </div>
    </div>
  </div>
  <hr/>
  <ul class="nav nav-pills">
    <li class="nav-item" th:each="i : ${#numbers.sequence(0,info.totalPages-1)}">
  	  <a th:href="@{/posts(page=${i})}" th:text="${i}" class="nav-link" th:classappend="${currentPage} ==${i}?'active':''">
  	  </a>
    </li>
  </ul>
</div>
			

</div>

<!--  <div th:switch="${info.author.role}"> 
        <p th:case="'admin'">User is an administrator</p>
        <a href="#" class="btn btn-primary" th:href="@{/posts/edit/} + ${info.postid}">Edit</a>
        <p th:case="'user'">User is a manager</p>
        <a th:if="${#authentication.name } == ${info.author.username}" href="#" class="btn btn-primary" th:href="@{/posts/edit/} + ${info.postid}">Edit</a>
        </div> -->


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>